@import "../../node_modules/modern-normalize/modern-normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Nunito;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px;
}

#prattler {
  margin: 0;
  padding: 0;
  height: 100%;
}
